body {
  background: rgb(12, 174, 207);
  background: linear-gradient(
    90deg,
    rgba(12, 174, 207, 1) 53%,
    rgba(129, 231, 187, 1) 100%
  );
  padding: 1em;
  min-width: 250px;
}

h2 {
  text-align: center;
}

.card {
  background-color: white;
  border-radius: 0.2em;
  padding: 2em;
}

form {
  padding: 1em;
  width: 100%;
  margin: 1.5em;
}

label {
  font-size: 1.2em;
  border-bottom: 1px solid grey;
}

input[type="checkbox"]{
    width: 1em;
    height: 1em;
}

button{
    text-decoration: none;
    border: none;
    font-size: 1.3em;
    text-align: center;
    padding: 0.5em;
    background: linear-gradient(
        90deg,
        rgba(12, 174, 207, 1) 53%,
        rgba(129, 231, 187, 1) 100%
      );
    color: black;
    opacity: 0.8;
    margin-left: 1em;
}

.message{
    font-size: 1.2em;
    color: green;
}

img{
  margin: 0em 6em;
}